
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VALORANT</title>
    @Styles.Render("~/Content/ValorantHome/StyleSheet1.css")
</head>
<body>
    <div class="Part">
        <div id="HeaderForWelcome">
            <h1>Welcome to VALORANT</h1>
            <p>     "VALORANT" is a 5v5 tactical FPS game that emphasizes the personality of the characters.</p>
            <p>     The game is set on the future earth and contains a variety of characters with different personalities, each with different unique abilities. In this 5V5 tactical shooting game, marksmanship is crucial. No matter what character the player chooses, accurate shooting is the key to winning, and the difference between a single bullet may determine the outcome of the battle. </p>
            <p>    Only the brave who are full of strategy, surprise victory, and break through the rules can have the last laugh.</p>
        </div>
        <div id="slider">
            <ul>
                <li><img src="~/Content/ValorantHome/homepage.jpg" alt="Image 1"></li>
                <li><img src="~/Content/ValorantHome/Two.jpg" alt="Image 2"></li>
                <li><img src="~/Content/ValorantHome/Yoru.png" alt="Image 3"></li>
            </ul>
            <div class="arrow left-arrow">&#10094;</div>
            <div class="arrow right-arrow">&#10095;</div>
        </div>
    </div>
    <div class="Part">
        <div id="Agent">
            <img src="~/Content/ValorantHome/LeftDown.jpeg" alt="Agent">
        </div>
        <div class="Story">
            <h1>Story BackGround</h1>
            <p>In the near future Earth world, the world has encountered an important event called First Light.</p>
            <p>This event changed the earth, bringing about a major shift in the operation of life, technology and government. Some people on earth gained superpowers in this event. These people with superpowers are called "Radiants", which means that they were radiated by the primordial light to obtain superpowers.</p>
            <p>After this event was born, a mysterious organization came into being. They gathered some agents around the world and signed the agent contract "Valorant Protocol", and the name of this organization is "VALORANT".</p>
            The agents in VALORANT were not all radiant people, but also ordinary people who used radiant technology equipment. The agents in VALORANT came from different regions, as well as prisoners, military and other different backgrounds, and some of the agents knew each other.
        </div>
    </div>
    <script src="~/Scripts/ValorantHome/JavaScript.js">

    </script>
</body>
</html>